@import './styles/variables';

body {
  margin: 0;
  font-family: $font-sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
